
<div class="shrink-0 flex justify-start space-x-4 sm:justify-start sm:flex-col md:justify-center md:flex-row lg:justify-end py-2">
  <div class="shadow-lg shadow-slate-500 ">
    <div class="flex justify-start">
    <div class="shrink-0 pe-2 font-sans active:font-serif sm:text-yellow-500 md:text-red-600 lg:text-green-600">LETTERE</div>
    <div>Tanto</div>
  </div>
  </div>
  <div>2</div>
  <div>3</div>
</div>

<div class="shrink-0 flex justify-start space-x-4 sm:justify-start sm:flex-col md:justify-center md:flex-row lg:justify-end py-2">
  <div class="shadow-black">
    <div class="flex flex-col justify-start">
      <div class="flex items-center">
        <div class="shrink-0 pe-2 font-sans active:font-serif sm:text-yellow-500 md:text-red-600 lg:text-green-600">LETTERE</div>
        <div>Tanto</div>
      </div>
    </div>
  </div>
  <div>2</div>
  <div>3</div>
</div>





<router-outlet />
